<h1>Chat Room</h1>
<div id="chat-box">
    <p>messages:</p>
</div>

<form id="chat-form">
    <input type="text" placeholder="Username" id="user-name">
    <textarea placeholder="Type message.." id="user-msg"></textarea>
    <button type="submit">Post</button>
</form>
